/* Line 1, ../sass/_main.scss */
.colorful {
	color: #bb8833;
}

/* Line 4, ../sass/_main.scss */
.app {
	width: 50%;
	margin-top: 50px;
	margin-left: 25%;
	margin-right: 25%;
}

/* Line 10, ../sass/_main.scss */
.app .board {
	width: 100%;
	margin-bottom: 50px;
}

/* Line 12, ../sass/_main.scss */
.app .board table {
	width: 100%;
	cursor: pointer;
}

/* Line 15, ../sass/_main.scss */
.app .board td {
	width: 12.5%;
	height: 40px;
	text-align: center;
	border: solid 2px black;
}


/***** My own modifications *****/
.top_input {
	width: 100%;
	margin-bottom: 20px;
}

.top_input button {
	width: 20%;
	float: right;
	margin 0;
}

#magic_word {
	width: 75%;
}

#players_state {
	width: 75%;
}
