/* line 1, ../sass/_main.scss */
.colorful {
	color: #bb8833;
}

/* line 4, ../sass/_main.scss */
.app {
	width: 70%;
	margin-top: 50px;
	margin-left: 15%;
	margin-right: 15%;
}

/* line 10, ../sass/_main.scss */
.app .board {
	width: 100%;
	margin-bottom: 50px;
}

/* line 12, ../sass/_main.scss */
.app .board table {
	width: 100%;
	cursor: pointer;
}

/* line 15, ../sass/_main.scss */
.app .board td {
	width: 12.5%;
	height: 50px;
	text-align: center;
	border: solid 2px black;
}
